<nav class="navbar navbar-transparent navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#">
                    <i class="fa fa-facebook-square"></i>
                    Like
                </a>
            </li>
             <li>
                <a href="#">
                    <i class="fa fa-instagram"></i>
                    Follow
                </a>
            </li>
             <li>
                <a href="#">
                    <i class="fa fa-twitter"></i>
                    Tweet
                </a>
            </li>
       </ul>
    </div>

  </div>
</nav>



<div class="main" style="background-image: url('images/hangoutspot.jpg')">


    <div class="container">
        <h1 class="logo cursive">
            The Spot
        </h1>

        <div class="content">
            <h4 class="motto">Mark. Explore. Hit.</h4>
            <div class="subscribe">
                <h5 class="info-text">
                    Comming Soon! Stay Posted!
                </h5>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4 col-sm6-6 col-sm-offset-3 ">
                        <form class="form-inline" role="form">
                          <div class="form-group">
                            <label class="sr-only" for="InputEmail">Email address</label>
                            <input type="email" class="form-control transparent" placeholder="Your email here...">
                          </div>
                          <button type="submit" class="btn btn-info btn-fill">Submit</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
      <div class="container">
             Powered by Google Maps
      </div>
    </div>
 </div>

 <div></div>
